<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.873632466405-22l74g6uonlv4gcev4v2h4k0p2hl5f6o</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb4521478054746312</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>4521478054746312</string>
	<key>FacebookClientToken</key>
	<string>f1c4ffedbe68e2fd1f3c46458e542d79</string>
	<key>FacebookDisplayName</key>
	<string>Focus</string>
	<key>GIDClientID</key>
	<string>873632466405-22l74g6uonlv4gcev4v2h4k0p2hl5f6o.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>instagram</string>
		<string>instagram-stories</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>ShangguRound-Bold.ttf</string>
		<string>ShangguRound-ExtraLight.ttf</string>
		<string>ShangguRound-Heavy.ttf</string>
		<string>ShangguRound-Light.ttf</string>
		<string>ShangguRound-Medium.ttf</string>
		<string>ShangguRound-Normal.ttf</string>
		<string>ShangguRound-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>remote-notification</string>
		<string>audio</string>
	</array>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>需要保存图片到相册以便分享到 Instagram</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要访问相册以便分享图片到 Instagram</string>
</dict>
</plist>
